body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 200px;
  margin-right: 100px;
}

.d-block {
  max-height: 380px;
}

.cards {
  margin: 50px;

}

.logoFooter {
  max-width: 100px;
 
}

.footer {
  
  background-color: #2F3D4D;
  color: white;
  

}

.logosRRSS {
  max-width: 50px;
  padding: 5px;
  margin: 25px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 400px;
  width: 600px;
 background-color: #2F3D4D;
 color: white;
 border-radius: 30px;
}

.fondoFormulario { 
  display: flex;
  justify-content: center;
 
  background-color: rgba(191, 232, 249, 0.804);
  
  height: 70vh;

}

.caja {
  width: 300px;
  margin-bottom: 15px;
}

.boton {
  background-color: #58889d;
 

}


 

