body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  width: 200px;
  margin-right: 100px;
}

.d-block {
  max-height: 380px;
}

.cards {
  margin: 50px;
}

.logoFooter {
  max-width: 100px;
}

.footer {
  background-color: #2f3d4d;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  

  
  
}

.logosRRSS {
  max-width: 50px;
  padding: 5px;
  margin: 25px;
}

.formulario {
  display: flex;
  flex-direction: column;
justify-content: center;
  align-items: center;
width: 500px;
margin: 50px; 
  background-color: #2F3D4D;
  color: white;
  border-radius: 30px;

}

.fondoFormulario {
  display: flex;
  justify-content: center;
  background-color: rgba(191, 232, 249, 0.804);
  height: 76vh;

}

.caja {
  width: 300px;
  margin-bottom: 15px;
}

.boton {
  margin-bottom: 10px;
  background-color: #56D1C8 !important;
  color: black !important;
}

.olvidarcontraseña {
  text-decoration: underline;
}

.nombresPublicar {
  display: flex;
  flex-direction: row;
}

.container-AgregarPublicacion {
  display: flex;
  flex-direction: column;
  background-color: #2F3D4D;
}